.app {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.viewport-container {
  flex: 1;
  position: relative;
  min-height: 0;
}

.viewport-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
